#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
                &kp TAB   &kp Q &kp W &kp E &kp R &kp T     &kp Y &kp U &kp I &kp O &kp P &kp BSPC
                &kp LCTL  &kp A &kp S &kp D &kp F &kp G     &kp H &kp J &kp K &kp L &kp SCLN &kp QUOT
                &kp LSFT  &kp Z &kp X &kp C &kp V &kp B     &kp N &kp M &kp COMMA &kp DOT &kp SLASH &kp ESC
                &kp LGUI  &mo lower &kp SPACE               &kp ENTER &mo raise &kp RALT
            >;
        };

        lower {
            bindings = <
                &kp TAB   &kp 1 &kp 2 &kp 3 &kp 4 &kp 5     &kp 6 &kp 7 &kp 8 &kp 9 &kp 0 &kp BSPC
                &kp LCTL  &trans &trans &trans &trans &trans &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
                &kp LSFT  &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &kp LGUI  &trans &kp SPACE                  &kp ENTER &mo adjust &kp RALT
            >;
        };

        raise {
            bindings = <
                &kp TAB   &kp EXCL &kp AT &kp HASH &kp DLLR &kp PERCENT    &kp CARET &kp AMPS &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
                &kp LCTL  &kp HOME &kp UP &kp END &trans &trans            &kp EQUAL &kp LBKT &kp RBKT &kp BSLH &trans &trans
                &kp LSFT  &kp LEFT &kp DOWN &kp RIGHT &trans &trans        &kp PLUS &kp LCBR &kp RCBR &kp PIPE &kp TILDE &trans
                &kp LGUI  &mo adjust &kp SPACE                             &kp ENTER &trans &kp RALT
            >;
        };

        adjust {
            bindings = <
                &bootloader &trans &trans &trans &trans &trans      &kp 7 &kp 8 &kp 9 &trans &trans &trans
                &rm_togg &rm_hueu &rm_satu &rm_valu &trans &trans  &kp 4 &kp 5 &kp 6 &trans &trans &trans
                &rm_next &rm_hued &rm_satd &rm_vald &trans &trans  &kp 1 &kp 2 &kp 3 &trans &trans &trans
                &kp LGUI &trans &kp SPACE                           &kp ENTER &trans &kp RALT
            >;
        };
    };
};
